## Is homelessness is due to poor people getter poorer?

### parameters
- *TBD*

### assumptions
- *TBD*

### hypothesis
`homelessness is due to poor people getter poorer`

In [3]:
import pandas as pd

In [4]:
# Duty owed
df=pd.read_csv('data/StatHomeless_201909_1.csv', index_col=[0,1], header=1).iloc[:10, :]
df = df.drop(columns=df.columns[[0,2,-2]])
df.columns = df.iloc[:3].fillna(method='ffill').iloc[-1]
df = df.iloc[4:]
df

(nan, nan) Total initial assessments1 Total owed a prevention or relief duty  \
2018 Q2                         67830                                  61210
NaN  Q3                         74050                                  67770
     Q4                         69480                                  64080
2019 Q1                         76520                                  71980
NaN  Q2                         74180                                  70030
     Q3                         75520                                  71570

(nan, nan) Threatened with homelessness within 56 days - Prevention duty owed  \
2018 Q2                                                 34940
NaN  Q3                                                 37850
     Q4                                                 34460
2019 Q1                                                 38530
NaN  Q2                                                 37030
     Q3                                                 36640

(nan, nan) due to service of valid Section 21 Notice2  \
2018 Q2                                          5100
NaN  Q3                                          4950
     Q4                                          4080
2019 Q1                                          4960
NaN  Q2                                          4950
     Q3                                          4440

(nan, nan) Homeless - Relief duty owed3  \
2018 Q2                           26270
NaN  Q3                           29920
     Q4                           29620
2019 Q1                           33450
NaN  Q2                           33000
     Q3                           34940

(nan, nan) Not homeless nor threatened with homelessness within 56 days - no duty owed
2018 Q2                                                  6620
NaN  Q3                                                  6280
     Q4                                                  5390
2019 Q1                                                  4540
NaN  Q2                                                  4150
     Q3                                                  3950

In [5]:
df=pd.read_csv('data/StatHomeless_201909_16.csv')
df.columns = df.iloc[:2].fillna(method='ffill').fillna('').iloc[-1]
ind=df.iloc[:,:2].fillna(method='ffill').fillna('')
df.index = ind.iloc[:,0]+'-'+ind.iloc[:,1]
df=df.iloc[2:89]
df = df.drop(columns=[''])
df.iloc[-1]

1
Total number of households in TA1,2,4                                              87410
Total number of households in TA with children                                     62280
Total number of children in TA                                                    127890
Total number of households                                                          7080
Total with children                                                                 1910
Total with children and resident more than 6 weeks                                   620
Total with children and resident more than 6 weeks and pending review / appeal        30
Total with 16/17-year-old main applicant                                              10
Total number of households                                                         21890
Total  with children                                                               17010
Total number of households                                                          6480
Total with children                                                                 3490
Total number of households                                                         27450
Total with children                                                                22040
Total number of households                                                         19250
Total with children                                                                14080
Total number of households                                                          5250
Total with children                                                                 3750
In TA in another local authority district                                          24030
Total number of households                                                          6740
Total with children                                                                 4370
Name: 2019-Q3, dtype: object

### Conclusion

_TBD..._